<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome to food search</title>
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/jambotron.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="container">

    <%- include('header') -%>

     <div class="jumbotron">
       <h1>Just type...to find some food...</h1>
       <div class="searchBox">

           <form class="" action="/search" method="get">
             <select class="form-control sel" name="" required="">
               <option disabled="" selected="">Choose your city</option>
               <option value="Lviv">Lviv</option>
               <option value="Sarny">Sarny</option>
             </select>
             <input type="text" name="search" id="search" placeholder="Search for restourant..." class="searchLine form-control">
             <input type="submit" class="btn btn-success" name="" value="Search">
           </form>
           <div class="after" id="after"></div>

       </div>
     </div>

     <div class="row marketing">
       <div class="col-lg-6">
         <h4>Subheading</h4>
         <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

         <h4>Subheading</h4>
         <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

         <h4>Subheading</h4>
         <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
       </div>

       <div class="col-lg-6">
         <h4>Subheading</h4>
         <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

         <h4>Subheading</h4>
         <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

         <h4>Subheading</h4>
         <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
       </div>
     </div>

     <a href="add_alergen" class="btn btn-primary">Add new alergen</a><br><br>
     <a href="add_company" class="btn btn-primary">Add new company</a><br><br>

     <%- include('footer') -%>
     

   </div> <!-- /container -->


    <script src="jquery/dist/jquery.min.js"></script>
    <script src="js/ajax_test.js"></script>
  </div>
</body>
</html>
